

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
    background-color: black;
}



header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

a {
    color: seashell;
}

header img {
    height: 50px;
    padding-left: 10px;
    padding-top: 9px;
    display: inline-block;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding: 20px 10px;

}

#flexbox {
  display: flex;
justify-content: center;
}

#mission {
  display: flex;
  flex-flow: column wrap;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.ourmission {
  background: black;
}

#store {
  display: flex;
  width: 1000px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;

}

#tea {
margin: 5px 10px;

}
